{namespace pw=PwCommentsTeam\PwComments\ViewHelpers}

<f:if condition="{settings.showGravatarImage}">
	<pw:Gravatar email="{comment.commentAuthorMailAddress}" size="{settings.gravatarSize}" default="{settings.gravatarDefault}"
				alt="{comment.author.name}{comment.authorName}" class="comment_author_image"/>
</f:if>

<div class="comment_content_wrap">
	<div class="comment_header">
		<span class="comment_author">{f:if(condition: '{comment.author}', then: '{comment.author.username}', else: '{comment.authorName}')}</span>
		<span class="comment_date" title="{pw:format.date(timestamp:'{comment.crdate}', format:'%d.%m.%Y %T')}"> <pw:format.relativeDate timestamp="{comment.crdate}" format="{settings.relativeDate.absoluteFormatFallback}" wrap="{f:translate(key:'tx_pwcomments.relativeDate.wrap')}" wrapAbsolute="{f:translate(key:'tx_pwcomments.relativeDate.wrapAbsolute')}" /></span>
	</div>
	<div class="comment_body">
		<div class="message">
			<f:format.nl2br><f:format.raw>{comment.message}</f:format.raw></f:format.nl2br>
		</div>
		<div class="actions">
			<f:if condition="{settings.enableCommentVotes}">
				<f:if condition="{comment.parentComment}">
					<f:then></f:then>
					<f:else>
						<div class="voting comment_voting">
							<f:render partial="Comment/Voting" arguments="{comment:comment, upvotedCommentUids:upvotedCommentUids, downvotedCommentUids:downvotedCommentUids}"></f:render>
						</div>
					</f:else>
				</f:if>
			</f:if>
			<f:if condition="{settings.enableReplyVotes}">
				<f:if condition="{comment.parentComment}">
					<div class="voting reply_voting">
						<f:render partial="Comment/Voting" arguments="{comment:comment, upvotedCommentUids:upvotedCommentUids, downvotedCommentUids:downvotedCommentUids}"></f:render>
					</div>
				</f:if>
			</f:if>

			<f:if condition="{settings.enableRepliesToComments} == 1">
				<f:if condition="{comment.parentComment}">
					<f:then></f:then>
					<f:else>
						<f:if condition="{commentToReplyTo.uid} != {comment.uid}">
							<div class="comment_reply">
								<f:link.action action="new" arguments="{commentToReplyTo:comment}" section="{settings.writeCommentAnchor}" noCacheHash="1" noCache="1" argumentsToBeExcludedFromQueryString="{0: 'cHash'}">
									<f:translate key="tx_pwcomments.reply" />
								</f:link.action>
							</div>
						</f:if>
					</f:else>
				</f:if>
			</f:if>
		</div>
	</div>
</div>
<div class="clear"></div>